* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 860px;
  margin: 0 auto;
}

/* ================ Header ================ */

header .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 14px;
}

ul li {
  margin: 0 10px;
  font-weight: bold;
}

ul li:hover {
  color: #39c2d7;
}

/* ================ Banner ================ */

.banner {
  margin-top: 14px;
  background-image: url("../img/banner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1216px;
  margin: 0 auto;
  margin-top: 14px;
  height: 377px;
}

.banner h1 {
  margin-top: 0;
  padding-top: 50px;
  line-height: 48px;
  font-size: 40px;
  color: #fff;
  font-weight: normal;
}

/* ================ News ================ */

.news {
  margin-top: 20px;
}

.featured {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featuredItems {
  max-width: 273px;
  background: #cccccc;
  padding: 10px;
  margin-bottom: 20px;
}

.featuredItems:hover {
  background: #39c2d7;
}

.featuredItems img {
  width: 100%;
}

.featuredItems h4 {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.featuredItems p {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 10px;
}