$contentBackground: #fff;
$bodyBackground: #dcbb9a;
$headingColor: #893c00;
$imgBorder: $headingColor;
$briefBackground: #fadcba;
$label: #808080;
$thBackground: #e0e0e0;
$tdBackground: $contentBackground;
$borderColor: $thBackground;
$button: #3d70a1;
$linkColor: $button;
$pColor: #000000;
$textTransorm: none;
$thBorderRight: $pColor;